{% extends 'base.html' %} 

{% block page_title %}Frequently asked questions{% endblock %} 

{% block page_heading %}Frequently asked questions{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}">Home</a> > Frequently asked questions
{% endblock %}

{% block content %}
    <div class="container">
        <p>
            Amazing, no one asked any question yet! 
        </p>
        <p>
            To ask one contact us at stationerycuriousshop@gmail.com
        </p>
    </div>

{% endblock %}