{% extends "base.html" %}

{% block page_title %}Password Reset Page{% endblock %}
{% block page_heading %}Reset Password{% endblock %}
{% block left-column %}
<i class="fas fa-key fa-10x left-column-icon"></i>
{% endblock %}
{% block content %}

<div class="form-group">
    <form method="POST" class="accountform">
        <p>Please enter your email address.</p>
        <br>
        {% csrf_token %}
        
        <p>
            <label for="id_email" class="control-label required-field">E-mail address:</label>
            <input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control">
        </p>
        <p>
            <input type="submit" class="form-control btn btn-secondary" value="Reset password" />
        </p>
    </form>
</div>
{% endblock %}