{% extends "base.html" %}
{% block page_title %}Confirm new password{% endblock %}
{% block page_heading %}Confirm new password{% endblock %}
{% block left-column %}
<i class="fas fa-crow fa-10x left-column-icon"></i>
{% endblock %}

{% block content %}

{% if validlink %}

    <form method="POST" class="accountform">
        <p>Please type in your new password and confirm it</p>
        <br>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Reset password" /></p>
    </form>

{% else %}

    The password reset link seems to be invalid. It has possibly already been used.
    Please request a new password reset.

{% endif %}
{% endblock %}