{% extends 'base.html' %} 

{% block page_title %}All products{% endblock %} 

{% block page_heading %}All products{% endblock %}

{% block content %}

<div class="row row flex">

    {% for product in products %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default"> 
    <!-- Hey! It crashed and didn't save materialize grid last time, adjust it when styling -->
                <div class="panel-body">
                    <div class="product" style="background-image: url('{{ MEDIA_URL }}{{ product.image }}')"></div>
                    <img src="{{ MEDIA_URL }}{{ product.image }}">

                    <h3>{{ product.name }}</h3>
                    <!-- In all products page - variant not present (probably? TBC) 
                    Variant needs expanding on on a single product page - if present - allow selection, 
                    if null hide whole variant section -->
                    <!-- <p>{{ product.variant }}</p>  -->
                    <p class="product-description">{{ product.description }}</p>
                    <p>{{ product.price }}</p>
                    <!-- if quantity < 3, display low stock! -->

                    <form method="POST" action="{% url 'addtocart' product.id %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <input id="quantity" name="quantity" type="number" min="1" max="{{ product.quantity }}" class="form-control" value="1" placeholder="Quantity">
                            <span class="input-group-btn">
                                <button class="btn btn-success" type="submit">Add to cart</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>

    {% endfor %}
</div>

{%endblock %}