{% extends 'base.html' %} 

{% block page_title %}All products{% endblock %} 

{% block page_heading %}All products{% endblock %}

{% block left-column %}
    <ul>
        <li><a href="{% url 'allproducts' %}">All</a></li>
        {% for category in all_categories %}
            <li><a href="{% url 'productcategory' category.name %}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
        
{% endblock %}

{% block content %}

<div class="row">

    {% for product in products %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 product-container"> 
        <div class="product">
            <a href="{% url 'singleproduct' product.id %}"><img src="{{ MEDIA_URL }}{{ product.image }}" class="img-thumbnail"></a>

            <a href="{% url 'singleproduct' product.id %}" class="product-title-link">{{ product.name }}</a>
            <p>{{ product.price }}</p>

            <form method="POST" action="{% url 'addtocart' product.id %}">
                {% csrf_token %}
                <input id="quantity" name="quantity" type="hidden" value="1">
                <button class="btn btn-secondary btn-sm" type="submit">Add to cart</button>
            </form>
        </div>
    </div>

    {% endfor %}
</div>

{%endblock %}