{% extends 'base.html' %} 

{% block page_title %}Browse all products{% endblock %} 

{% block page_heading %}ALL PRODUCTS{% endblock %}

{% block breadcrumbs %}
    &nbsp;
{% endblock %}

{% block left-column %}

<div class="row categories-menu">
    <ul class="list-group col-sm-12 col-lg-8">
        <li class="list-group-item active"><a href="{% url 'allproducts' %}">All</a></li>
        {% for c in all_categories %}
            <li class="list-group-item"><a href="{% url 'productcategory' c %}">{{ c }}</a></li>
        {% endfor %}
    </ul>
        
    <form method="POST" class="col-sm-12 col-lg-8">
        {% csrf_token %}
        <div class="form-group d-flex justify-content-center">
            <select name="sort" id="sort" class="form-control" onchange="this.form.submit()">
                <option disabled selected>Sort by </option>
                <option value="price-low-to-high">Price: low first</option>
                <option value="price-high-to-low">Price: high first</option>
                <option value="date-new-first">Date added: new first</option>
                <option value="date-old-first">Date added: old first</option>
            </select>
        </div>
    </form>
</div>
        
{% endblock %}

{% block content %}


<div class="row" style="background-color: #ffffff;">

    {% for product in products %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-xl-3 product-container"> 
        <div class="product">
            <a href="{% url 'singleproduct' product.id %}" class="product-image-link"><img src="{{ MEDIA_URL }}{{ product.image }}" class="img-fluid product-thumbnail"></a>


            <div>
                <a href="{% url 'singleproduct' product.id %}" class="product-title-link">{{ product.name }}</a>
            </div>
            <div>
                €{{ product.price }}
            </div>

            <div>    
                <form method="POST" action="{% url 'addtocart' product.id %}">
                    {% csrf_token %}
                    <input id="quantity" name="quantity" type="hidden" value="1">
                    <button class="btn btn-secondary" type="submit">Add to cart</button>
                </form>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{%endblock %}