{% extends 'base.html' %} 

{% block page_title %}{{ category.name }}{% endblock %} 

{% block page_heading %}{{ category.name }}{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}">Home</a> > {{ category.name }}
{% endblock %}

{% block left-column %}
<div class="row">
    <ul class="list-group col-sm-10 col-md-8">
        <li class="list-group-item"><a href="{% url 'allproducts' %}">All</a></li>
        {% for c in all_categories %}
            {% if c == category %}
            <li class="list-group-item active"><a href="{% url 'productcategory' c %}">{{ c }}</a></li>
            {% else %}
            <li class="list-group-item"><a href="{% url 'productcategory' c %}">{{ c }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    </div>
    <div class="row">
    <form method="POST">
        {% csrf_token %}
        <div class="dropdown-menu form-group d-flex justify-content-center justify-content-md-start sorting-option">
            <select name="sort" id="sort" class="form-control">
                <option  value="price-low-to-high">Price (low first)</option>
                <option  value="price-high-to-high">Price (high first)</option>
                <option  value="date-new-first">Date added: new first</option>
                <option  value="date-old-first">Date added: old first</option>
            </select>
            <button type="submit" class="btn btn-blue ml-2">Sort</button>
        </div>
    </form>
    </div>
{% endblock %}

{% block content %}

<div class="row row flex">

    {% for product in productsfromcategory %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-3 product-container"> 
        <div class="product">
            <a href="{% url 'singleproduct' product.id %}"><img src="{{ MEDIA_URL }}{{ product.image }}" class="img-thumbnail"></a>

            <a href="{% url 'singleproduct' product.id %}" class="product-title-link">{{ product.name }}</a>
            <p>{{ product.price }}</p>

            <form method="POST" action="{% url 'addtocart' product.id %}">
                {% csrf_token %}
                <input id="quantity" name="quantity" type="hidden" value="1">
                <button class="btn btn-secondary btn-sm" type="submit">Add to cart</button>
            </form>
        </div>
    </div>

    {% endfor %}
</div>

{%endblock %}