{% extends 'base.html' %} 

{% block page_title %}{{ category.name }}{% endblock %} 

{% block page_heading %}{{ category.name }}{% endblock %}

{% block left-column %}

    <ul>
        <li><a href="{% url 'allproducts' %}">All</a></li>
        {% for c in all_categories %}
            {% if c == category %}
            <li><a href="{% url 'productcategory' c %}">{{ c }}</a> YOU ARE HERE</li>
            {% else %}
            <li><a href="{% url 'productcategory' c %}">{{ c }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
{% endblock %}

{% block content %}

<div class="row row flex">

    {% for product in productsfromcategory %}

    <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-6 col-md-4 display panel panel-default"> 
        <div class="panel-body">
            <img src="{{ MEDIA_URL }}{{ product.image }}" class="img-thumbnail">

            <a href="{% url 'singleproduct' product.id %}"><h3>{{ product.name }}</h3></a>
            <p>{{ product.price }}</p>

            <form method="POST" action="{% url 'addtocart' product.id %}">
                {% csrf_token %}
                <div class="input-group">
                    <input id="quantity" name="quantity" type="number" min="1" max="{{ product.quantity }}" class="form-control" value="1" placeholder="Quantity">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="submit">Add to cart</button>
                    </span>
                </div>
            </form>
        </div>
    </div>

    {% endfor %}
</div>

{%endblock %}