h1, h2 {
    text-align: center;
}

.main-header-link, 
.main-header-link:hover,
.main-header-link:active {
    text-decoration: none;
    color: violet;   
}

nav {
    justify-content: center;
}

.img-thumbnail {
    max-width: 200px;
    max-height: auto;
}

.full-picture {
    width: inherit;
    height: 400px;
    /* Remember to move it to a breakpoint */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    margin: 0 auto;
}

.cart-thumbnail {
    width: 100%;
}

.product-desc {
    margin-left: 100px;    
}

.cart-item-row {
    display: flex;
    justify-content: flex-start;
    height: 150px;
    margin: 30px 0px 30px 0px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

