{% extends "base.html" %}
{% load static %}
{% load bootstrap_tags %}

{% block left-column %}
    <i class="far fa-address-card fa-10x left-column-icon"></i>
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}">Home</a> > <a href="{% url 'viewcart' %}">Your cart</a> > Address details
{% endblock %}

{% block content %}

<h4>Order summary</h4>
{% for item in cart_items %}
    <div class="row align-items-center order-summary-row">
        <div class="col">{{ item.product.name }}</div>

        <div class="col-2">€{{ item.product.price }}</div>
    </div>
{% endfor %}
<!-- Total price -->
<div class="row align-items-center order-summary-row">
    <div class="col"></div>

    <div class="col cost-summary">
        Total for products: €{{ total_for_products }}
    </div>
</div>
<div class="row align-items-center order-summary-row">
    <div class="col"></div>

    <div class="col cost-summary">
        Shipping: €{{ shipping_rate }}
    </div>
</div>
<div class="row align-items-center order-summary-row">
    <div class="col"></div>

    <div class="col cost-summary">
        <strong>Total: 
        <br>
        €{{ total }}</strong>
    </div>
</div>
<p></p>

<form role="form" method="post" id="shipping-form" action="{% url 'addressdetails' %}">
    <legend>Address details</legend>
    <small>If you already made and order in Papeire in the past, this form contains the address you previously saved. Make sure it is still up to date!</small>
    <br>
    <br>
    <div class="form-group">
        {{ shipping_form | as_bootstrap }}
    </div>

    {% csrf_token %}
    <div class="form-group">
        <input class="btn btn-secondary" id="save_address" name="commit" type="submit" value="Proceed to checkout">
    </div>
</form>
{% endblock %}