{% extends 'base.html' %} 
{% load bootstrap_tags %}

{% block page_title %}Log in{% endblock %} 

{% block page_heading %}Log in{% endblock %}

{% block breadcrumbs %}
    
{% endblock %}

{% block left-column %}

<i class="fas fa-sign-in-alt fa-10x left-column-icon"></i>

{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        {{ login_form | as_bootstrap }}
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>

    <div style="margin-top: 30px;">
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </div>

{%endblock %}