{% extends 'base.html' %} 

{% block page_title %}Your profile{% endblock %} 

{% block page_heading %} Your profile{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}">Home</a> > Your profile
{% endblock %}

{% block left-column %}
    <i class="fas fa-user-circle fa-10x left-column-icon"></i>
{% endblock %}

{% block content %}

    <h3 id="orders">Orders <small class="text-muted">Orders you have placed</small></h3>
    <div class="container profile-container">
        {% if orders %}
            {% for order in orders %}
                {% if forloop.counter <= orders|length %}        
                    <p>
                        <a href="{% url 'vieworder' order.id %}">{{ order.id }}: {{ order.date }}</a>
                    </p>
                {% endif %}
            {% endfor %}
        {% else %}
        <p>No orders found!</p>
        {% endif %}
    </div>
    
    <h3 id="address">Your shipping address <small class="text-muted">Saved when you placed your order last time</small></h3>
    <div class="container profile-container">
        {% if shipping_address %}
            {{shipping_address}}
            {{ shipping_address.phone_number }}
            You can <a href="{% url 'edityouraddress' %}">edit your address here</a> or when placing next order. 
            <a href="{% url 'deleteyouraddress' %}">Delete address?</a>
        {% else %}
            There is no saved addresses for the moment! Place an order to save one. 
        {% endif %}
    </div>

    <h3 id="change_password">Change password</h3>
    <div class="container profile-container">
        If you want to change your password <a href="{% url 'password_reset' %}">request password change</a>. <br>
        Link to set new password will be sent to your account email address ({{ user.email }})
    </div>

{%endblock %}

