{% extends 'base.html' %} 

{% block page_title %}Your profile{% endblock %} 

{% block page_heading %} {{ user }}'s profile{% endblock %}

{% block content %}

    Orders 
<br>
    
    {% if orders > 1 %}
    {% for order in orders %}
    
        {{ order.full_name }} <a href=" 'vieworder' order.id %}">{{ order.id }}{{ order.date }}</a>

    {% endfor %}
    {%else %}
    <a href="{% url 'vieworder' orders.id %}">{{ orders.id }}{{ orders.date }}</a>
    {% endif %}

    <br>
    Addresses
<br>
    {{ user.address }}
<br>
    Change password
<br>
    If you want to change your password <a href="">request password change</a>. Link to set new password will be sent tou your account email address ({{ user.email }})
<br>
    <!-- <p>{{ user.email }}</p>
    <p>{{ user.username }}</p> -->

    <p>{{ profile.email }}</p>
    <p>{{ profile.username }}</p>

{%endblock %}

