{% extends 'base.html'%}

{% block page_title %}Order no. {{ selected_order.id }}{% endblock %} 

{% block page_heading %}Order no. {{ selected_order.id }}{% endblock %}

{% block left-column %}
<i class="fas fa-list-alt fa-10x left-column-icon"></i>
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}">Home</a> > <a href="{% url 'userprofile' %}">Your profile</a> > Your order no. {{ selected_order.id }}
{% endblock %}

{% block content %}

<h3>List of items ordered:</h3>

<div class="accordion" id="items_ordered">
{{ user_reviews }}

    {% for item in order_items %}
        
    <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{item.id}}" aria-expanded="true" aria-controls="collapse{{item.id}}">
          {{ item.product.name }} - {{ item.quantity }} * {{ item.product.price }} (expand to review {{item.product.id}})
        </button>
      </h2>
    </div>

    <div id="collapse{{item.id}}" class="collapse" aria-labelledby="headingOne" data-parent="#items_ordered">
      <div class="card-body">


      {{ user_reviews.product.name }}

            {% for review in user_reviews %}
            {% if item.product.name in review.product.name %}

            Here is your review: {{ review }} //// {{ review.review_text }} /// {{ review.author }}

            <br><br>

            If you want to change your review: 

            {% else %}

                <br> 
                <!-- This loop works - prints out either review or empty line         -->
            
            {% endif %}
            {% endfor %}

            
            <form method="POST" action="{% url 'submitproductreview' item.product.id %}">
                {% csrf_token %}
                {{ review_form.as_p }}
                Review author: {{ user }}
            <button class="btn btn-primary" type="submit">Post review</button>
            </form>       
        
      </div>
    </div>
  </div>



    {% endfor %}
   


</div>
{% endblock %}