{% extends 'base.html' %} 

{% block page_title %}Oops, something went wrong!{% endblock %} 

{% block page_heading %}Oops, something went wrong!{% endblock %}

{% block left-column %}

<i class="far fa-frown-open fa-10x left-column-icon"></i>
        
{% endblock %}

{% block content %}

<div class="row">

    <p>
        It looks like the page you requested doesn't exist!
    </p>
    <p>
        <a href="{% url 'allproducts' %}">Go back to browsing products</a>
    </p>
    
</div>

{%endblock %}