{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block page_title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% block head_js %}
    {% endblock head_js %}
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2 class="display-3"> 
                <a href="{% url 'index' %}" class="main-header-link">Stationery shop</a>
            </h2>
        </div>
    </div>
    
    <nav class="nav">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'userprofile' %}">Profile</a>
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-link" href="{% url 'signup' %}">Register</a>
        {% endif %}
        <a class="nav-link"  href="{% url 'allproducts' %}">Products</a>
        <a class="nav-link"  href="{% url 'viewcart' %}">Your cart</a>
        <a class="nav-link" data-toggle="collapse" href="#search" aria-expanded="false" aria-controls="search">Search (icon)</a>
    </nav>

    <!-- Search element     -->
    <div class="collapse" id="search">
    <div class="container">
            <div class="display">
                <form action="{% url 'searchresult' %}" method="get">
                    <input type="text" name="query">
                    <button type="search">Search</button>
                </form>
            </div>
        </div>
    </div>

    <div class="main-content-container">
        <div class="main-content-header">
            <h1>
                {% block page_heading %}{% endblock %}
            </h1>
            <hr> 
        </div>

        <div class="row breadcrumbs">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                {% block breadcrumbs %}
                {% endblock %}  
            </div>
        </div>
  

        <div class="row content">
            <div class="col-lg-4">
                {% block left-column %}{% endblock %}
            </div>
            <div class="col-lg-8">

                {% if messages %}
                <div>
                    {% for message in messages %} {{ message }} {% endfor %}
                </div>
                {% endif %} 

                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>

</html>