{% extends 'base.html' %} 
{% load static from staticfiles %}

{% block page_title %}Shopping cart{% endblock %} 

{% block page_heading %}Shopping cart{% endblock %}

{% block left-column %}
    <i class="fas fa-shopping-cart fa-10x left-column-icon"></i>
{% endblock %}

{% block breadcrumbs %}
    <a href="{% url 'index' %}">Home</a> > Your cart
{% endblock %}

{% block content %}

    {% for item in cart_items %}

    <div class="row align-items-center cart-item-row">
        <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="img-fluid cart-thumbnail">

        <div class="col-xs-10 offset-xs-1 col-md">
            <a href="{% url 'singleproduct' item.product.id %}"><span class="cart-inline-product-name">{{ item.product.name }}</span></a>
        </div>

        <div class="col-xs-10 offset-xs-1 col-md">
            <small>Edit quantity:</small>
            <form class="form-inline" method="post" action="{% url 'editcart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <input name="quantity" type="number" min="0" max="{{ item.product.quantity }}" value="{{ item.quantity }}" class="form-control cart-quantity-input">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>

        <div class="col-xs-10 offset-xs-1 col-md-2">€{{ item.product.price }}</div>
    </div>

    {% endfor %}

    <div class="row total-price">
        <div>
            <p>Total: €{{ total }}</p>
            <a href="{% url 'addressdetails' %}" class="btn btn-success" role="button"></span>Proceed to checkout</a>
        </div>
    </div>

</div>

{%endblock %}