{% extends 'base.html' %} 
{% load static from staticfiles %}

{% block page_title %}Shopping cart{% endblock %} 

{% block page_heading %}Shopping cart{% endblock %}

{% block content %}

    {% for item in cart_items %}
    <div class="row align-items-center cart-item-row">
        <div class="col-3">
            <img src="{{ MEDIA_URL }}{{ item.product.image }}" class="img-fluid cart-thumbnail">
        </div>

        <div class="col-5"><h3>{{ item.product.name }} {{ item.product.variant }}</h3></div>

        <div class="col-2">
            <form class="form-inline" method="post" action="{% url 'editcart' item.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <div class="input-group">
                        <input name="quantity" type="number" min="0" max="{{ item.product.quantity }}" value="{{ item.quantity }}" class="form-control">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>

        <div class="col-2">{{ item.product.price }}</div>
    </div>
    {% endfor %}
    <div class="total-price">
        <div>
            <p>Total</p>
            <p>{{ total }}</p>
            <a href="{% url 'checkout' %}" class="btn btn-success" role="button"></span>Complete order</a>
        </div>
    </div>

</div>

{%endblock %}